<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>MeetRec</string>
	<key>CFBundleDisplayName</key>
	<string>MeetRec</string>
	<key>CFBundleIdentifier</key>
	<string>ru.dinya.meetrec</string>
	<key>CFBundleExecutable</key>
	<string>MeetRec</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>MeetRec записывает ваш голос во время встреч вместе с системным звуком.</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>ru</string>
</dict>
</plist>
